@import "src/colors";

.announcement-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
  margin: 4vw;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);

  @media (max-width: 700px) {
    flex-direction: column;

    .product-img {
      flex-direction: row !important;
      height: 100%;


      img {
        // width: auto !important;
        height: 100%;
      }
    }

    .product-info {
      width: 100%;
      justify-content: space-between;

      .product-price-btn {
        flex-direction: column !important;
        padding-bottom: 20px;
      }
    }
  }

  .product-img {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    max-height: 100%;

    img {
      width: 100%;
      object-fit: contain;
    }
  }

  .product-info {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    background-color: white;

    .product-text {
      margin: 0 4vw;

      h1 {
        margin-bottom: 0;
        font-size: 34px;
        color: #474747;
      }

      h2 {
        display: flex;
        align-items: center;

        font-size: 12px;
        font-family: "Raleway", sans-serif;
        font-weight: 400;
        text-transform: uppercase;
        color: $primary;
        letter-spacing: 0.2em;

        span {
          margin-right: 16px;
        }
      }

      p {
        max-height: 160px;
        max-width: 80vw;
        padding-right: 10px;
        overflow: auto;

        font-family: "Exo2Regular", serif;
        line-height: 1.7em;
        font-size: 16px;
        font-weight: lighter;
      }
    }

    .product-price-btn {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 0 4vw;

      p {
        display: inline-block;
        font-family: "Trocchi", serif;
        font-size: 48px;
        font-weight: lighter;
        margin: 20px 10px;
      }

      button {
        float: right;
        display: inline-block;
        height: 50px;
        width: 176px;
        box-sizing: border-box;
        border: transparent;
        border-radius: 60px;
        font-family: "Raleway", sans-serif;
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        color: #ffffff;
        background-color: $primary;
        cursor: pointer;
        outline: none;

        &:hover {
          background-color: $primary-bright;
        }
      }
    }
  }
}

.borrow-popup {
  &-form {
    margin: 20px 0;
    background-color: $primary-transparent;
    padding: 10px;
    border-radius: 4px;
  }

  &-total {
    width: 100%;
    text-align: center;
    color: $primary;
    margin-top: 20px;
  }
}
