<div class="app-container">
  <!-- Top Bar -->
  <app-top-bar
    [buttonsData]="buttonsData"
    (buttonClickedEvent)="buttonClickedEventReceived($event)"
  >
  </app-top-bar>

  <!-- Announcement Card -->
  <div class="announcement-container">
    <div class="product-img">
      <img [src]="image" *ngFor="let image of currentAnnouncement.imagesData" />
    </div>
    <div class="product-info">
      <div class="product-text">
        <h1>{{ currentAnnouncement.title }}</h1>
        <h2>
          <span class="material-icons-outlined"> category </span>
          {{ categoryName }}
        </h2>
        <h2>
          <span class="material-icons-outlined"> account_circle </span>
          {{ posterName }}
        </h2>
        <p>
          {{ currentAnnouncement.description }}
        </p>
      </div>
      <div class="product-price-btn">
        <p>
          $<span>{{ currentAnnouncement.pricePerDay }}</span> / day
        </p>
        <button (click)="borrowPopupVisible = true" type="button">
          Borrow
        </button>
      </div>
    </div>
  </div>

  <!-- Borrow Popup -->
  <dx-popup
    [width]="300"
    [height]="'auto'"
    [showTitle]="true"
    title="Borrow Item"
    [dragEnabled]="false"
    [hideOnOutsideClick]="true"
    [showCloseButton]="false"
    container=".dx-viewport"
    [(visible)]="borrowPopupVisible"
    class="borrow-popup"
  >
    <dxi-toolbar-item
      widget="dxButton"
      toolbar="bottom"
      location="before"
      [options]="borrowButtonOptions"
    >
    </dxi-toolbar-item>
    <dxi-toolbar-item
      widget="dxButton"
      toolbar="bottom"
      location="after"
      [options]="closeButtonOptions"
    >
    </dxi-toolbar-item>
    <div *dxTemplate="let data of 'content'">
      When would you want to borrow "{{ currentAnnouncement.title }}"?
      <br />
      <div class="borrow-popup-form">
        <strong>Reserve From: </strong>
        <dx-date-box
          type="date"
          [(value)]="startDate"
          [min]="minStartDate"
          [disabledDates]="unavailableDates"
        >
        </dx-date-box>
        <br />
        <strong> To:</strong>
        <dx-date-box
          type="date"
          [(value)]="endDate"
          [min]="startDate"
          [disabledDates]="unavailableDates"
        >
        </dx-date-box>

        <div class="borrow-popup-total"><strong> Total:</strong> $10000</div>
      </div>
    </div>
  </dx-popup>
</div>
