.annoncement-picture {
  height: 300px;
  width: 300px;
  object-fit: contain;
}

.form-container {
  background-color: white;

  h2 {
    font-size: 30px;
  }
  .form-content {
    max-width: 600px;
    width: 100%;
    padding: 40px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    font-size: 18px;
  }

  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    justify-content: space-evenly;

    .create-button {
      font-size: 24px;
      background-color: #8d1e1e;

      &:hover {
        background-color: #b53636;
      }
    }
  }
  .form-input {
    margin-bottom: 5%;
    height: 50px;
  }
}

@media (max-width: 768px) {
  .form-container {
    .form-content {
      padding: 20px;
    }
  }
}
