.main-container {
  width: 100vw;
  height: 100vh;
  margin: 0px;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  transition: opacity 0.3s ease; /* Add a transition effect */
  background-image: url("../../../../assets/images/logo-white.png");
  background-size: 70vw;
  background-position: left;
  background-repeat: no-repeat;
  background-color: black;
}

@media (max-width: 1300px) {
  .main-container {
    justify-content: center;
  }
}

@media (max-height: 850px) {
  .main-container {
    overflow: scroll;
  }
}

@media (max-height: 530px) {
  .main-container {
    align-items: flex-start;
  }
}
