<div class="app-container">
  <app-top-bar
    [buttonsData]="buttonsData"
    (buttonClickedEvent)="buttonClickedEventReceived($event)"
    class="topmar"
  ></app-top-bar>

  <div class="mainContainer">

    <div class="search-bar-div">
      <dx-text-box
        class="search-box"
      placeholder="Search">
      </dx-text-box>
      <dx-button class="search-button" type="default">Search</dx-button>
    </div>


    <div class="card-container">
      <div class="card" *ngFor="let announcement of announcements">
        <div class="title">Title: <b>{{ announcement.title }}</b></div>
        <div class="category">Category: <b>{{ getCategoryNameById(announcement.categoryId!)}}</b></div>
        <div class="date-label">Posted: <b>{{ announcement.creationDate | date:'dd-MM-yyyy' }}</b></div>

        <div class="image-container">
          <img *ngIf="announcement.imagesData[0]" [src]="announcement.imagesData[0]" alt="Announcement Image">
          <span *ngIf="!announcement.imagesData[0]">No image provided</span>
        </div>
        <div class="price">Price/day: ${{ announcement.pricePerDay }}</div>
        <div
        (click)="onViewAnnouncementClick(announcement.id!)"
        class="goto-button">
          <span class="material-icons-outlined">visibility</span>
          View Announcement
        </div>
      </div>

    </div>

  </div>
</div>
