@import "src/colors";

.auth-container {
  min-width: 25vw;
  margin-right: 48px;
  background-color: aliceblue;
  display: flex;
  transition: border 0.2s ease; /* Add a transition effect */
  border-radius: 20px;
  align-items: center;
  flex-direction: column;
  border: 5px solid transparent;
}

@media (max-width: 1300px) {
  .auth-container {
    margin-right: 0;
    width: 80vw;
  }
}

@media (max-height: 850px) {
  .auth-container {
    .auth-header {
      margin-top: 4vh;
    }

    .auth-form {
      margin: 4vh 0;
    }

    .button-container {
      margin-bottom: 4vh;
    }
  }
}

.auth-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  user-select: none;
  margin-top: 10%;
}

.auth-title {
  width: 100%;
  color: $warning;
  font-family: "Exo2Regular";
  font-weight: bold;
  font-size: x-large;
  text-align: center;
}
.auth-subtitle {
  font-family: "Exo2Light";
  font-size: large;
  color: $warning;
  justify-content: center;
  display: flex;
}

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 10% 0;
}
.input-group {
  width: 75%;
}

.input-label {
  color: $warning;
  font-weight: bold;
  font-family: "Exo2Regular";
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  border-radius: 0px 0px 20px 20px;
  margin-bottom: 10%;
}

.button-style {
  width: 30%;
  height: 48px;
  font-weight: bold;
  &:hover {
    filter: contrast(125%);
  }
  &:active {
    filter: contrast(75%);
  }
  &.login {
    color: aliceblue;
    background-color: #52d1dc;
  }
  &.register {
    background-color: $warning;
    color: black;
  }
}
