.card {
  display: flex;
  flex-direction: column;

  width: 250px;
  height: 400px;
  background-color: transparent;
  border-radius: 4px;
  padding: 16px;
  user-select: none;
  border-radius: 10px;
  border: 1px solid black;
  background-color: white;
  float: left;

  transition: box-shadow 0.3s ease;

  &-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }

  &:hover {
    cursor: pointer;
    border: 1px solid #8d1e1e;

    & .view-button.view-only {
      background-color: #fff0f0;
      border-radius: 4px;
    }
  }
}
.card:hover {
  box-shadow: 0 0 40px rgba(33, 33, 33, 0.2);
}

.image-container {
  margin-bottom: 8px;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  img {
    width: auto;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
  }
}

.date-label {
  margin-bottom: 4px;
}

.creation-date {
  margin-bottom: 8px;
}

.price {
  display: flex;
  justify-content: center;
  font-weight: bold;
  margin-top: 25px;
  font-size: 24px;
}

.view-button {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 2;

  width: 100%;
  height: 30px;
  font-family: Exo2Regular;
  font-weight: bold;
  -webkit-user-select: none;
  user-select: none;
  color: #8d1e1e;

  padding: 5px 0;
  border-radius: 4px;

  transition: background-color 0.3s ease;

  &:hover {
    background-color: #fff0f0;
    border-radius: 4px;
  }

  span {
    margin-right: 10px;
  }
}

.action-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;

  margin-top: 10px;

  .edit-button,
  .delete-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;

    padding: 5px;
    border-radius: 4px;

    transition: background-color 0.3s ease;

    span {
      margin-right: 5px;
    }
  }

  .edit-button {
    color: #cd9000;

    &:hover {
      background-color: #cd90002e;
    }
  }

  .delete-button {
    color: #f44336;

    &:hover {
      background-color: #f443362e;
    }
  }
}
