// Colors
$primary: #8d1e1e;
$primary-bright: #b53636;

$primary-transparent: #8d1e1e17;

// Status Colors
$error: #da1e28;
$success: #24a148;
$warning: #f1c21b;
$information: #0043ce;

// Status Colors (Transparent)
$error-transparent: #f443362e;
$success-transparent: #24a14830;
$warning-transparent: #cd90001c;
$information-transparent: #0043ce24;
