<div class="app-container">
  <!-- Top Bar -->
  <app-top-bar
    [buttonsData]="buttonsData"
    (buttonClickedEvent)="buttonClickedEventReceived($event)"
  ></app-top-bar>

  <!-- Profile Header -->
  <div class="profile-container">
    <img
      class="profile-container-decoration"
      src="/assets/images/objects1.png"
    />
    <div class="profile">
      <img class="profile-icon" src="/assets/images/profile-icon.png" />
      <div class="profile-data">
        <span class="profile-welcome">Welcome back</span>
        <span class="profile-data-name">{{ userName }}</span>
        <span class="profile-data-email">{{ userEmail }}</span>
      </div>
    </div>
    <img
      class="profile-container-decoration"
      src="/assets/images/objects2.png"
    />
  </div>

  <!-- Profile Navbar -->
  <div class="profile-navbar">
    <dx-button
      (click)="navigateToSubpage(SUBPAGE_ANNOUNCEMENTS)"
      [disabled]="currentSubpage === SUBPAGE_ANNOUNCEMENTS"
      class="profile-navbar-button"
      type="default"
    >
      <span class="material-icons-outlined">sell</span>
      Announcements</dx-button
    >
    <dx-button
      (click)="navigateToSubpage(SUBPAGE_BORROW)"
      [disabled]="currentSubpage === SUBPAGE_BORROW"
      class="profile-navbar-button"
      type="default"
    >
      <span class="material-icons-outlined">request_quote</span>
      Borrow Requests</dx-button
    >
    <dx-button
      (click)="navigateToSubpage(SUBPAGE_LEND)"
      [disabled]="currentSubpage === SUBPAGE_LEND"
      class="profile-navbar-button"
      type="default"
    >
      <span class="material-icons-outlined">payments</span>
      Lend Opportunities</dx-button
    >
  </div>

  <!-- 0. My Announcements -->
  <div class="card-container" *ngIf="currentSubpage === SUBPAGE_ANNOUNCEMENTS">
    <h1 class="card-container-title">Your Announcements</h1>
    <app-announcement-card
      [announcement]="announcement"
      [categories]="categories"
      [editable]="true"
      (deletedEvent)="onAnnouncementDelete($event)"
      (errorEvent)="onDeleteError($event)"
      *ngFor="let announcement of userAnnouncements"
    />

    <!-- No Announcements -->
    <app-empty-placeholder
      *ngIf="!userAnnouncements || userAnnouncements.length === 0"
    >
      <span class="empty-announcements-text">
        You currently have no active announcements <br />
        Create one from the <a routerLink="/listItem">List Item</a> menu
      </span>
    </app-empty-placeholder>
  </div>

  <!-- 1. My Borrow Requests -->
  <div class="card-container" *ngIf="currentSubpage === SUBPAGE_BORROW">
    <h1 class="card-container-title">Sent Borrow Requests</h1>
    <div class="borrow">
      <div class="borrow-request" *ngFor="let request of userBorrowRequests">
        <!-- Request Icon -->
        <span class="borrow-request-icon material-icons-outlined"
          >request_quote</span
        >

        <!-- Request Information -->
        <div class="borrow-request-information">
          <div class="borrow-request-information-title">
            {{ request.announcementTitle }}
            ({{ request.startDate | date }} - {{ request.endDate | date }})
          </div>

          <div class="borrow-request-information-subtitle">
            <span class="property">
              <span class="material-icons-outlined">account_circle</span>
              {{ request.requester }}
            </span>

            <span class="property">
              <span class="material-icons-outlined">currency_exchange</span>
              {{ request.status }}
            </span>
          </div>
        </div>

        <!-- Request Actions -->
        <div class="borrow-request-actions">
          <div (click)="onViewBorrowRequest(request)" class="primary-button">
            <span class="material-icons-outlined">visibility</span>
            View
          </div>
          <div (click)="onDeleteBorrowRequest(request)" class="error-button">
            <span class="material-icons-outlined">delete</span>
            Delete
          </div>
        </div>
      </div>
    </div>

    <!-- No Requests -->
    <app-empty-placeholder
      *ngIf="!userBorrowRequests || userBorrowRequests.length === 0"
    >
      <span>
        You have no active borrow requests <br />
        Search for some announcements on the <a routerLink="/home">Home Page</a>
      </span>
    </app-empty-placeholder>
  </div>

  <!-- 2. My Lend Opportunities -->
  <div class="card-container" *ngIf="currentSubpage === SUBPAGE_LEND">
    <h1 class="card-container-title">Received Lend Opportunities</h1>
    <div class="lend">
      <div
        class="lend-opportunity"
        *ngFor="let opportunity of userBorrowRequests"
      >
        <!-- Request Icon -->
        <span class="lend-opportunity-icon material-icons-outlined"
          >payments</span
        >

        <!-- Request Information -->
        <div class="lend-opportunity-information">
          <div class="lend-opportunity-information-title">
            {{ opportunity.announcementTitle }}
            ({{ opportunity.startDate | date }} -
            {{ opportunity.endDate | date }})
          </div>

          <div class="lend-opportunity-information-subtitle">
            <span class="property">
              <span class="material-icons-outlined">account_circle</span>
              {{ opportunity.requester }}
            </span>

            <span class="property">
              <span class="material-icons-outlined">currency_exchange</span>
              {{ opportunity.status }}
            </span>
          </div>
        </div>

        <!-- Request Actions -->
        <div class="lend-opportunity-actions">
          <div
            (click)="onApproveLendOpportunity(opportunity)"
            class="success-button"
          >
            <span class="material-icons-outlined">done</span>
            Approve
          </div>
          <div
            (click)="onDeleteBorrowRequest(opportunity)"
            class="error-button"
          >
            <span class="material-icons-outlined">close</span>
            Deny
          </div>
        </div>
      </div>
    </div>

    <!-- No Opportunities -->
    <app-empty-placeholder
      *ngIf="!userLendOpportunities || userLendOpportunities.length === 0"
    >
      <span class="empty-announcements-text">
        You have no active lend opportunities <br />
        Wait for people to respond, or create some new announcements on the
        <a routerLink="/listItem">List Item</a> page
      </span>
    </app-empty-placeholder>
  </div>

  <!-- Toast -->
  <dx-toast
    [(visible)]="toastVisible"
    [message]="toastMessage"
    [type]="toastType"
    height="50px"
    width="auto"
    style="align-items: center"
  ></dx-toast>
</div>
