.main-container {
  width: 100vw;
  height: 100vh;
  margin: 0px;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  transition: opacity 0.5s ease; /* Add a transition effect */
  background-image: url("../../../assets/images/logo-white.png");
  background-size: 70vw;
  background-position: left;
  background-repeat: no-repeat;
  background-color: black;
}

.auth-container {
  min-width: 25vw;
  margin-right: 48px;

  background-color: aliceblue;
  display: flex;
  transition: border 0.2s ease; /* Add a transition effect */
  border-radius: 20px;
  align-items: center;
  flex-direction: column;
  border: 5px solid transparent;
}

@media (max-width: 1300px) {
  .main-container {
    justify-content: center;

    .auth-container {
      margin-right: 0;
      width: 80vw;
    }
  }
}

@media (max-height: 850px) {
  .main-container {
    overflow: scroll;

    .auth-container {
      .auth-header {
        margin-top: 4vh;
      }

      .auth-form {
        margin: 4vh 0;
      }

      .button-container {
        margin-bottom: 4vh;
      }
    }
  }
}

@media (max-height: 530px) {
  .main-container {
    align-items: flex-start;
  }
}

.green-border:hover {
  transition: border 0.2s ease; /* Add a transition effect */
  border: 5px solid #4caf50;
}
.red-border:hover {
  transition: border 0.2s ease; /* Add a transition effect */
  border: 5px solid #f44336;
}

.yellow-border:hover {
  transition: border 0.2s ease; /* Add a transition effect */
  border: 5px solid #fabc2a;
}

.auth-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  user-select: none;
  margin-top: 10%;
}

.auth-title {
  width: 100%;
  color: #fabc2a;
  font-family: "Exo2Regular";
  font-weight: bold;
  font-size: x-large;
}
.auth-subtitle {
  font-family: "Exo2Light";
  font-size: large;
  color: #fabc2a;
  justify-content: center;
  display: flex;
}

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 10% 0;
}
.input-group {
  width: 75%;
}

.input-label {
  color: #fabc2a;
  font-weight: bold;
  font-family: "Exo2Regular";
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  border-radius: 0px 0px 20px 20px;
  margin-bottom: 10%;
}

.button-style{
  width: 30%;
  height: 48px;
  font-weight: bold;
  &:hover{
    filter:contrast(125%);
  }
  &:active{
    filter:contrast(75%);
  }
  &.login{
    color: aliceblue;
    background-color: #52d1dc;
  }
  &.register{
    background-color: #fabc2a;
    color: black;
  }

}
